.news-item{
  width: calc((100% - 30px) / 4);
  min-width: 300px;
  padding: 10px 10px;
  margin: 10px 0;
  height: fit-content;
  a{
    text-decoration: none;
    .img{
      width: 100%;
      height: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 55%;
      border-radius: 6px;
      transition: all 0.4s;
      border: 1px solid var(--blue);
    }
    h4{
      text-decoration: none;
      .date {
        float: right;
        font-size: 14px;
      }
    }
    h3{
      --max-lines: 2;    
      overflow: hidden;
      display: -webkit-box;    
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
      span{
        color: var(--blue);
        *{
          font-size: 18px;
        }
      }
    }
  }
  
  &:hover{
    a{
      text-decoration: none;
      h3{
        text-decoration: underline !important;
      }
    }
  }
  @media screen and (max-width:480px){
    &{
      min-width: 100%;
    }
  }
}


  
  

  

